

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    margin: 0;
    padding: 30px;
    text-align: center;
    background: rgba(0,0,0, .5);
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    padding: 0 100px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    transition: all .2s ease-in-out;
}

.navbar a:hover {
    color: aquamarine;
    font-size: 22px;
}